# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# Virtual environments
venv/
env/
.venv/
.env

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Runtime state files — created by the app on first run; not part of the repo
csv/current_budgets.csv
csv/last_uploaded_transactions.csv
